*{
    margin: 0px;
    padding:0px;
}
.hader{
    text-align: center;
    background: url(../img/bg1.png) no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.hader h1{
    font-family: sans-serif;
}


body{
    background-color:#ffffff ;

}


.list ul li a{
    text-decoration: none;
    color:black;
   font-size: 25px;

   
    
    

}
.list{
    text-align: center;
    display: inline-block;
    margin-left: 400px;
}
.list ul li {
   float: left;
    list-style: none;
    padding: 20px;
    border-left: 1px solid black;
        
}
.list ul li:first-child{
    border-left: none;
}
.list ul li a:hover{
    background-color: rgb(241, 11, 42);
    color: black;
    transition: .5s;
}

.content1 img{
    width: 200px;
    height: 200px;
    border-radius: 10px 10px;
}
.content1{
    background-color: rgb(85, 236, 65);
    display: inline block;
    width: 200;
    border-radius: 10px 10px;
    float: left;
   margin-left: 20px;
   margin-top: 40px;
   height: 300px;
}





.bodyin{
    margin: auto;
    display: inline block;
    float: left;
    background: url(../img/bg4.jpeg) no-repeat;
  
   
    